# Ejemplo

In [1]:
import pandas as pd 
tabla = pd.DataFrame({ 
    "1": [1, 2, 3], 
    "2": [4, 5, 6], 
    "3": [7, 8, 9], 
}, index=pd.Index(["a", "b", "c"], name="Hola")) 
print(tabla.to_latex()) 
tabla

\begin{tabular}{lrrr}
\toprule
{} &  1 &  2 &  3 \\
Hola &    &    &    \\
\midrule
a    &  1 &  4 &  7 \\
b    &  2 &  5 &  8 \\
c    &  3 &  6 &  9 \\
\bottomrule
\end{tabular}

      1  2  3
Hola
a     1  4  7
b     2  5  8
c     3  6  9

# P1

In [2]:
import pandas as pd 
tabla = pd.DataFrame({ 
    "Tuplas": [72696, 22490, 6401, 856421, 440234, 197219, 2170526, 944964, 372367],
    "Bloques": [598, 183, 52, 5278, 2712, 1215, 21409, 9330, 3684],
    "Tuplas por Bloques Promedio": [121.5652, 122.8962, 123.0962, 162.2624, 162.3282, 162.3202, 101.3838, 101.2823, 101.0768]
}, index=pd.Index(["Película100", "Película1000", "Película10000", "Actor100", "Actor1000", "Actor10000", "Personaje100", "Personaje1000", "Personaje10000"], name="Tablas")) 
print(tabla.to_latex(column_format="lccc")) 
tabla

\begin{tabular}{lccc}
\toprule
{} &   Tuplas &  Bloques &  Tuplas por Bloques Promedio \\
Tablas         &          &          &                              \\
\midrule
Película100    &    72696 &      598 &                     121.5652 \\
Película1000   &    22490 &      183 &                     122.8962 \\
Película10000  &     6401 &       52 &                     123.0962 \\
Actor100       &   856421 &     5278 &                     162.2624 \\
Actor1000      &   440234 &     2712 &                     162.3282 \\
Actor10000     &   197219 &     1215 &                     162.3202 \\
Personaje100   &  2170526 &    21409 &                     101.3838 \\
Personaje1000  &   944964 &     9330 &                     101.2823 \\
Personaje10000 &   372367 &     3684 &                     101.0768 \\
\bottomrule
\end{tabular}

                 Tuplas  Bloques  Tuplas por Bloques Promedio
Tablas
Película100       72696      598                     121.5652
Película1000      22490      183                     122.8962
Película10000      6401       52                     123.0962
Actor100         856421     5278                     162.2624
Actor1000        440234     2712                     162.3282
Actor10000       197219     1215                     162.3202
Personaje100    2170526    21409                     101.3838
Personaje1000    944964     9330                     101.2823
Personaje10000   372367     3684                     101.0768

# P3

In [36]:
import pandas as pd 
tabla = pd.DataFrame({ 
    "Plan de Consulta (ms)": [0.251 , 0.647],
    "Tiempo de Ejecución (ms)": [ 268.177, 0.176],
    "Consultas por Segundo": [ 0.268428, 0.000823]
}, index=pd.Index(["Opt", "Opti"], name="Esquemas")) 
print(tabla.to_latex()) 
tabla.dtypes

\begin{tabular}{lrrr}
\toprule
{} &  Plan de Consulta (ms) &  Tiempo de Ejecución (ms) &  Consultas por Segundo \\
Esquemas &                        &                           &                        \\
\midrule
Opt      &                  0.251 &                   268.177 &               0.268428 \\
Opti     &                  0.647 &                     0.176 &               0.000823 \\
\bottomrule
\end{tabular}

Plan de Consulta (ms)       float64
Tiempo de Ejecución (ms)    float64
Consultas por Segundo       float64
dtype: object

# P4

In [39]:
import pandas as pd 
tabla = pd.DataFrame({ 
    "Cantidad Estimada de Bloques Leídos ": [21409  , 1  ],
}, index=pd.Index(["Opt", "Opti"], name="Esquemas")) 
print(tabla.to_latex()) 
tabla

\begin{tabular}{lr}
\toprule
{} &  Cantidad Estimada de Bloques Leídos  \\
Esquemas &                                       \\
\midrule
Opt      &                                 21409 \\
Opti     &                                     1 \\
\bottomrule
\end{tabular}

          Cantidad Estimada de Bloques Leídos
Esquemas
Opt                                      21409
Opti                                         1

# P5

In [40]:
import pandas as pd 
tabla = pd.DataFrame({ 
    "Plan de Consulta": [ , ],
}, index=pd.Index(["Opt", "Opti"], name="Esquemas")) 
print(tabla.to_latex()) 
tabla

\begin{tabular}{lr}
\toprule
{} &  Plan de Consulta \\
Esquemas &                   \\
\midrule
Opt      &             21409 \\
Opti     &                 1 \\
\bottomrule
\end{tabular}

          Plan de Consulta
Esquemas
Opt                  21409
Opti                     1

Tablas

In [4]:
import pandas as pd 
tabla = pd.DataFrame({ 
    "Plan de Consulta (ms)": [0.506 , 0.280],
    "Tiempo de Ejecución (ms)": [ 318.590, 206.563],
}, index=pd.Index(["Sin anidacion", "Con anidación"], name="Tipo de Consulta")) 
print(tabla.to_latex(column_format="lccc")) 
tabla

\begin{tabular}{lccc}
\toprule
{} &  Plan de Consulta (ms) &  Tiempo de Ejecución (ms) \\
Tipo de Consulta &                        &                           \\
\midrule
Sin anidacion    &                  0.506 &                   318.590 \\
Con anidación    &                  0.280 &                   206.563 \\
\bottomrule
\end{tabular}

                  Plan de Consulta (ms)  Tiempo de Ejecución (ms)
Tipo de Consulta
Sin anidacion                     0.506                   318.590
Con anidación                     0.280                   206.563

In [3]:
import pandas as pd 
tabla = pd.DataFrame({ 
    "Plan de Consulta (ms)": [ 0.550,0.427],
    "Tiempo de Ejecución (ms)": [ 1.524,1.793],
}, index=pd.Index(["Sin anidación", "Con anidación"], name="Tipo de Consulta")) 
print(tabla.to_latex(column_format="lccc")) 
tabla

\begin{tabular}{lccc}
\toprule
{} &  Plan de Consulta (ms) &  Tiempo de Ejecución (ms) \\
Tipo de Consulta &                        &                           \\
\midrule
Sin anidación    &                  0.550 &                     1.524 \\
Con anidación    &                  0.427 &                     1.793 \\
\bottomrule
\end{tabular}

                  Plan de Consulta (ms)  Tiempo de Ejecución (ms)
Tipo de Consulta
Sin anidación                     0.550                     1.524
Con anidación                     0.427                     1.793

In [ ]:
n_tuplas = [372367, 944964, 2170526]
[10000, 1000, 100]
opt_p3 = np.array([ 61.481+0.249  , 0.269+169.788 , 0.260+269.106 ])
opti_p3 = np.array([ 0.241+0.183 ,0.179 +0.187 , 0.176+0.186 ])

opt_p5_sa = np.array([0.522+84.319, 0.490+161.408 , 0.451+271.518])
opti_p5_sa = np.array([4.402+0.568 , 0.543+5.641 , 0.569+4.516])

opt_p5_ca = np.array([ 0.169+58.661 , 0.148+118.951 , 0.372 +267.816 ])
opti_p5_ca = np.array([0.439+3.751, 0.428+4.794 , 0.418+3.569])